<html>

<head>
    <title>Test PDF</title>
    <link rel="stylesheet" type="text/css" href="test.css" />
</head>

<body>
    <header class="boxed split-view">
        <h1>Report Name</h1>
        <span>Date</span>
    </header>

    <section id="gridContainer">
        <div class="row">
            <div class="cell">
                <h2 class="boxed">Header 1</h2>
                <table class="chart">
                    <thead>
                        <tr>
                            <th></th>
                            <th><label>Column 1</label></th>
                            <th><label>Column 2</label></th>
                            <th><label>Column 3</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Thing 1</th>
                            <td></td>
                            <td>X</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Thing 2</th>
                            <td>X</td>
                            <td></td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th>Thing 3</th>
                            <td>X</td>
                            <td>X</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cell">
                <h2 class="boxed">Header 2</h2>
                <table class="chart">
                    <thead>
                        <tr>
                            <th></th>
                            <th><label>Column 1</label></th>
                            <th><label>Column 2</label></th>
                            <th><label>Column 3</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Thing 1</th>
                            <td></td>
                            <td>X</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Thing 2</th>
                            <td>X</td>
                            <td></td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th>Thing 3</th>
                            <td>X</td>
                            <td>X</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cell">
                <h2 class="boxed">Header 3</h2>
                <table class="chart">
                    <thead>
                        <tr>
                            <th></th>
                            <th><label>Column 1</label></th>
                            <th><label>Column 2</label></th>
                            <th><label>Column 3</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Thing 1</th>
                            <td></td>
                            <td>X</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Thing 2</th>
                            <td>X</td>
                            <td></td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th>Thing 3</th>
                            <td>X</td>
                            <td>X</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="cell">
                <h2 class="boxed">Header 4</h2>
                <table class="chart">
                    <thead>
                        <tr>
                            <th></th>
                            <th><label>Column 1</label></th>
                            <th><label>Column 2</label></th>
                            <th><label>Column 3</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Thing 1</th>
                            <td></td>
                            <td>X</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Thing 2</th>
                            <td>X</td>
                            <td></td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th>Thing 3</th>
                            <td>X</td>
                            <td>X</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cell">
                <h2 class="boxed">Header 5</h2>
                <table class="chart">
                    <thead>
                        <tr>
                            <th></th>
                            <th><label>Column 1</label></th>
                            <th><label>Column 2</label></th>
                            <th><label>Column 3</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Thing 1</th>
                            <td></td>
                            <td>X</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Thing 2</th>
                            <td>X</td>
                            <td></td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th>Thing 3</th>
                            <td>X</td>
                            <td>X</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="cell">
                <h2 class="boxed">Header 6</h2>
                <table class="chart">
                    <thead>
                        <tr>
                            <th></th>
                            <th><label>Column 1</label></th>
                            <th><label>Column 2</label></th>
                            <th><label>Column 3</label></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Thing 1</th>
                            <td></td>
                            <td>X</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th>Thing 2</th>
                            <td>X</td>
                            <td></td>
                            <td>X</td>
                        </tr>
                        <tr>
                            <th>Thing 3</th>
                            <td>X</td>
                            <td>X</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="paragraphs">
        <h2 class="boxed thick">This is the Paragraph 1 header</h2>
        <main>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam a metus tincidunt, elementum purus id, accumsan ligula. In pharetra
                lobortis magna et consequat. Mauris molestie ex tempus posuere aliquam. Quisque vitae augue dolor. Integer vel ultricies nisl. Vivamus
                sed orci eget nunc consequat aliquet eget id arcu. Suspendisse at ex eu neque posuere pellentesque eu in ex. Duis pellentesque at
                neque ut pulvinar. Nam vitae elit hendrerit urna aliquet fringilla.
            </p>
            <p>
                Nullam vitae dolor ac tortor congue dictum vel laoreet elit. Donec fermentum in ipsum vitae tincidunt. Duis pulvinar nisi eu augue
                imperdiet pretium. Mauris id odio ut odio vehicula feugiat. Donec est eros, lobortis blandit imperdiet in, convallis a sem. Curabitur
                vitae ipsum sit amet mauris cursus sollicitudin vitae sit amet nibh. Ut tellus elit, rutrum vitae bibendum vel, sodales ut velit. Nam
                ante mi, varius at consectetur quis, mollis ac magna. Praesent gravida, tellus ut maximus commodo, magna dolor auctor arcu, non mollis
                leo ante non lectus. Etiam non blandit ipsum, et viverra arcu. Fusce imperdiet laoreet posuere. Donec sagittis purus in nunc accumsan,
                eu tempor ante finibus. Nulla velit nibh, varius in condimentum at, varius vel lorem. Vestibulum ante ipsum primis in faucibus orci
                luctus et ultrices posuere cubilia Curae; Phasellus fermentum dolor nec enim ultrices, eget dapibus felis tempus. Sed auctor sodales
                urna, sed placerat nisl ultrices vitae.</p>
        </main>
    </section>

    <section class="paragraphs">
        <h2 class="boxed thick">This is the Paragraph 2 header</h2>
        <main>
            <p>
                Vivamus tempor convallis dolor, a consequat nulla pellentesque sit amet. Morbi placerat eget dui non sollicitudin. Sed eget molestie
                arcu. Sed hendrerit nisi sit amet mattis sodales. Integer erat mauris, auctor at congue eu, semper ullamcorper nulla. Fusce eget arcu
                at ante aliquet maximus. Pellentesque finibus libero at metus vulputate luctus. Morbi lorem ante, interdum ut malesuada ut, malesuada
                ut nisl. Morbi id nunc lacinia, laoreet dolor id, sodales nulla. Aliquam erat volutpat. Pellentesque elit nibh, imperdiet at quam vel,
                fringilla feugiat ex. Integer efficitur faucibus mi at pellentesque.
            </p>
            <p>
                Vivamus eget condimentum mi. Nulla non sollicitudin est. Aenean id feugiat neque. Aenean non nulla urna. Praesent eget lacus justo.
                Fusce porttitor dolor cursus, condimentum neque quis, porta purus. In ac odio blandit, vulputate massa id, semper risus. Cras
                ultricies, enim quis posuere mollis, arcu enim sollicitudin magna, id egestas diam ante nec dolor. Fusce condimentum elit vitae nulla
                pulvinar, non facilisis massa feugiat. Proin iaculis porttitor suscipit. Vestibulum quis est sollicitudin, commodo ex et, imperdiet
                libero. Integer pretium sed lectus at iaculis. Vestibulum dolor dolor, suscipit vitae tellus vitae, convallis vehicula eros. Vivamus
                viverra ultrices sapien ac iaculis.
            </p>
        </main>
    </section>

    <footer>Footer</footer>
</body>

</html>